- content_for :page_title do
  Update Your Basic Information

.row
  .col-md-12
    = form_for(@member, url: dashboard_account_path, method: :patch) do |f|
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'

      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'

      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'

      .form-group
        = f.submit 'Update', class: 'btn btn-primary'
