- content_for(:page_title) do
  Capabilities

.row
  .col-md-12
    %p.text-right
      = link_to 'New Capability', new_admin_capability_path, class: 'btn btn-primary'

.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th Name
          %th Short Name
          %th Actions
      %tbody
        - @capabilities.each do |activation|
          %tr
            %td
              = link_to activation.name, "/admin/activations/#{activation.id}"
            %td
              = capability.name
            %td
              = activation.short_name
            %td
              = link_to 'View'
              = link_to 'Edit'
